@model WorkersBank.Models.ViewModel.InvitationPartialVM

    <li>
        <a href="@Url.Action("invitations","Applicants")" @(ViewContext.RouteData.Values["action"].ToString().Equals("invitations") ? "class=selected_nav" : "")><div>Invitations<span style="display:inline;position:relative;top:-8px" class="badge badge-primary">@Model.InvitationCount</span></div></a>
    </li>
