<section id="slider" class="slider-element slider-parallax" style="background: url('@Url.Content("~/Content/User/images/landing/landing1.jpg")') no-repeat; background-size: cover" data-height-xl="600" data-height-lg="500" data-height-md="400" data-height-sm="300" data-height-xs="250">
    <div class="slider-parallax-inner">

        <div class="container clearfix">
            <div class="vertical-middle dark center">

                <div class="heading-block nobottommargin center">
                    <h1>
                        <span class="text-rotater nocolor" data-separator="|" data-rotate="flipInX" data-speed="3500">
                            ThriftNet makes you <span class="t-rotate">Save more|Secure your future|Gain profit</span>
                        </span>
                    </h1>
                    <span class="d-none d-md-block">Learn how to save money to make profit.</span>
                </div>

                <a href="#" class="button button-border button-light button-rounded button-reveal tright button-large topmargin d-none d-md-inline-block"><i class="icon-angle-right"></i><span>Start Tour</span></a>

            </div>
        </div>
    </div>
</section>
